@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));


/*  L O A D   F O N T S  ------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500&display=swap');


/*  T H E M E   S T Y L E S  --------------------------------------------------------- */

@theme {

    /*  F O N T S  ----------------------------------------------- */
    --font-sans: 'Geist', system-ui, sans-serif;
    --font-display: 'Space Grotesk', system-ui, sans-serif;

    /*  C O L O R S  --------------------------------------------- */

	/* Primary colors */
	--color-primary-fg: rgb(10 10 10);              /* neutral-950 */
    --color-primary-fg-50: rgb(10 10 10 / 50%);        /* neutral-950 at 50% opacity */
	--color-primary-bg: rgb(255 255 255);           /* white */

	/* Secondary colors */
	--color-secondary-fg: rgb(115 115 115);            /* neutral-500 */
	--color-secondary-bg: rgb(250 250 250);         /* neutral-50 */

	/* Interactive elements */
	--color-button-fg: rgb(255 255 255);            /* white */
	--color-button-fg-50: rgb(255 255 255 / 50%);   /* white at 50% opacity */
    --color-button-fg-inv: rgb(10 10 10);           /* neutral-950 */
	--color-button-bg: rgb(10 10 10);               /* neutral-950 */
	--color-button-bg-hover: rgb(38 38 38);         /* neutral-800 */

    /* Extras */
    --color-border: rgb(229 229 229);               /* neutral-200 */

} .dark {

	/* Primary colors */
	--color-primary-fg: rgb(255 255 255);           /* white */
	--color-primary-fg-50: rgb(255 255 255 / 50%);   /* white at 50% opacity */
	--color-primary-bg: rgb(10 10 10);              /* neutral-950 */

	/* Secondary colors */
	--color-secondary-fg: rgb(163 163 163);         /* neutral-400 */
	--color-secondary-bg: rgb(23 23 23);            /* neutral-900 */

	/* Interactive elements */
	--color-button-fg: rgb(10 10 10);               /* neutral-950 */
	--color-button-fg-50: rgb(10 10 10 / 50%);      /* neutral-950 at 50% opacity */
    --color-button-fg-inv: rgb(255 255 255);        /* white */
	--color-button-bg: rgb(255 255 255);            /* neutral-50 */
	--color-button-bg-hover: rgb(245 245 245);      /* neutral-200 */

    /* Extras */
    --color-border: rgb(38 38 38);                  /* neutral-800 */

}


/*  B A S E   S T Y L E S  ----------------------------------------------------------- */

@layer base {

    /*  T H E M E   T R A N S I T I O N  */
    .theme-transition, .theme-transition * {
        transition: background-color 300ms ease-in-out, 
                   border-color 300ms ease-in-out, 
                   color 300ms ease-in-out,
                   fill 300ms ease-in-out,
                   opacity 300ms ease-in-out;
    }

    /*  R E M O V E   S C R O L L B A R S  */
	* {
		scrollbar-width: none;                      /* Firefox */
		-ms-overflow-style: none;                   /* IE/Edge */
	}
	*::-webkit-scrollbar {
		display: none;                              /* Chrome/Safari/Edge/iOS */
	}
}


/*  U T I L I T Y   S T Y L E S  ----------------------------------------------------- */

@layer utilities {

    .h1 {
        font-family: var(--font-display);
        font-weight: 500;
        @apply text-5xl leading-tight tracking-tight;
    }

    .title {
        font-family: var(--font-sans);
        font-weight: 500;
        @apply text-base leading-tight tracking-tight;
    }

    .paragraph {
        font-family: var(--font-sans);
        font-weight: 400;
        @apply text-base leading-tight tracking-tight;
    }

    .button-label {
        font-family: var(--font-sans);
        font-weight: 500;
        @apply text-base leading-tight tracking-tight;
    }

    .small {
        font-family: var(--font-sans);
        font-weight: 400;
        @apply text-sm leading-tight tracking-tight;
    }
}
